@import 'helpers/reset';
@import 'helpers/variables';
@import 'helpers/placeholderSelector';

body {
  background-image: url(../img/grass.jpg);
  font-family: 'holtwood_one_scregular', serif;
  text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
  text-align: center;
  .container {
    max-width: 680px;
    margin: 20px auto;
    position: relative;
  }
  img {
    width: 100%;
  }
}

.gameField {
  width: 680px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  .gameCell {
    width: 40px;
    height: 40px;
    border-radius: 25%;
  }
  .borderCell {
    background-image: url(../img/stonewall.jpg);
    border-radius: 0;
    background-size: cover;
  }
}

// Анимация
@keyframes logoAppearing {
  0% {
    top: -150%;
  }
  100% {
    top: 0;
  }
}

@keyframes nameAppearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.header {
  @extend %styleForHeaderAndFooter;
  @extend %flex-style;
  position: relative;
  .logo {
    position: absolute;
    top: -150%;
    left: 20px;
    animation: logoAppearing 0.3s ease-in-out 1.5s forwards;
    img {
      height: 80px;
      width: 100px;
    }
  }
  h1 {
    opacity: 0;
    width: 70%;
    font-size: 4em;
    color: $primary-color;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px $fourth-color;
    animation: nameAppearing 1.5s ease 0.5s forwards;
  }
}

.invisible {
  display: none;
}

.currentInfo{
  @extend %mainFont-style;
  @extend %styleForHeaderAndFooter;
  @extend %flex-style;
  font-size: 1.3em;
  width: 100%;
  .currentResult{
    width: 45%;
    #currentValue{
      @extend %font-styleForPoints;
    }
  }
  .bestResult{
    margin: 0 auto;
    width: 45%;
    #bestValue{
      @extend %font-styleForPoints;
    }
  }
}

.gameMessage {
	height: 250px;
	font-weight: bold;
  h2 {
    @extend %secondaryFont-style;
    font-size: 2em;
    padding: 40px 0 20px;
  }
	.startGame{
    @extend %commonForBtn;
    @extend %styleMainBtn;
		&:hover {
      @extend %hoverStyleForMainBtn;
    }
  }
  .choosenLevelButton{
    background-color: $primary-color;
    color: $secondary-color;
    border-color: $secondary-color;
  }
}

.difficulty {
  @extend %flex-style;
  margin: 0 -10px;
  padding-bottom: 20px;
  div {
    @extend %commonForBtn;
    font-size: 1em;
    padding: 5px 0;
    width: 18%;
    color: $primary-color;
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
      transition: $transition-main;
    }
  }
}

.gameOverResult{
  height: 200px;
  font-weight: bold;
  color: $secondary-color;
  font-size: 1.7em;
  text-shadow: 3px 3px 0px $primary-color;
}

.gameOverBtn{
  @extend %commonForBtn;
  @extend %styleMainBtn;
  width: 30%;
  font-size: 1em;
  margin-top: 20px;
  &:hover {
    @extend %hoverStyleForMainBtn;
  }
}